/*
*** Colors ***
*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

body.is-locked {
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

::selection {
  background-color: #C4132F;
  color: #ffffff;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:focus {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}
:focus:not(:focus-visible) {
  outline: none;
}

.lazyloaded {
  transition: opacity 300ms ease-in-out;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.color-dark {
  color: #181818;
}

.color-light {
  color: #ffffff;
}

.color-primary {
  color: #C4132F;
}

body,
input,
button,
select,
textarea {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #181818;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

a {
  color: #C4132F;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/*
	main headline styles
*/
/*
	sub headline styles
*/
/*
	title styles
*/
/*
	quote styles
*/
/*
	copy styles
*/
/*
	label styles
*/
/*
	caption styles
*/
/*
	overline styles
*/
/*
	copy-link styles
*/
.h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 1.2;
}
@media (min-width: 47.5em) {
  .h1 {
    font-size: 68px;
  }
}
@media (min-width: 73.75em) {
  .h1 {
    font-size: 80px;
  }
}

.h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.2;
}
@media (min-width: 47.5em) {
  .h2 {
    font-size: 48px;
  }
}
@media (min-width: 73.75em) {
  .h2 {
    font-size: 60px;
  }
}

.h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.2;
}
@media (min-width: 47.5em) {
  .h3 {
    font-size: 32px;
  }
}
@media (min-width: 73.75em) {
  .h3 {
    font-size: 36px;
  }
}

.h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
}
@media (min-width: 47.5em) {
  .h4 {
    font-size: 28px;
  }
}
@media (min-width: 73.75em) {
  .h4 {
    font-size: 32px;
  }
}

.h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
@media (min-width: 47.5em) {
  .h5 {
    font-size: 22px;
  }
}
@media (min-width: 73.75em) {
  .h5 {
    font-size: 24px;
  }
}

.h6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}
@media (min-width: 73.75em) {
  .h6 {
    font-size: 20px;
  }
}

.sub-1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
}
@media (min-width: 47.5em) {
  .sub-1 {
    font-size: 48px;
    line-height: 1.2;
  }
}
@media (min-width: 73.75em) {
  .sub-1 {
    font-size: 64px;
    line-height: 1.15;
  }
}

.sub-2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.35;
}
@media (min-width: 47.5em) {
  .sub-2 {
    font-size: 32px;
    line-height: 1.2;
  }
}
@media (min-width: 73.75em) {
  .sub-2 {
    font-size: 48px;
  }
}

.sub-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}
@media (min-width: 47.5em) {
  .sub-3 {
    font-size: 24px;
  }
}
@media (min-width: 73.75em) {
  .sub-3 {
    font-size: 32px;
    line-height: 1.3;
  }
}

.sub-4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.45;
}
@media (min-width: 73.75em) {
  .sub-4 {
    font-size: 24px;
    line-height: 1.4;
  }
}

.title-1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}
@media (min-width: 73.75em) {
  .title-1 {
    font-size: 24px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.45;
}
@media (min-width: 73.75em) {
  .title-2 {
    font-size: 22px;
    line-height: 1.4;
  }
}

.title-3 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}
@media (min-width: 73.75em) {
  .title-3 {
    font-size: 20px;
    line-height: 1.4;
  }
}

.quote-1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
}
@media (min-width: 47.5em) {
  .quote-1 {
    font-size: 36px;
  }
}
@media (min-width: 73.75em) {
  .quote-1 {
    font-size: 40px;
  }
}

.quote-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}
@media (min-width: 47.5em) {
  .quote-2 {
    font-size: 28px;
  }
}
@media (min-width: 73.75em) {
  .quote-2 {
    font-size: 32px;
  }
}

.copy {
  font-size: 14px;
  line-height: 1.6;
}
.copy a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy {
    font-size: 1rem;
    line-height: 1.8;
  }
}

.copy-bold {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
}
.copy-bold a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-bold {
    font-size: 1rem;
    line-height: 1.8;
  }
}

.copy-xl {
  font-size: 18px;
  line-height: 1.45;
}
.copy-xl a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-xl {
    font-size: 20px;
    line-height: 1.4;
  }
}

.copy-xl-bold {
  font-size: 18px;
  line-height: 1.45;
  font-weight: 500;
}
.copy-xl-bold a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-xl-bold {
    font-size: 20px;
    line-height: 1.4;
  }
}

.copy-l {
  font-size: 16px;
  line-height: 1.5;
}
.copy-l a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-l {
    font-size: 18px;
    line-height: 1.45;
  }
}

.copy-l-bold {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.copy-l-bold a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-l-bold {
    font-size: 18px;
    line-height: 1.45;
  }
}

.copy-s {
  font-size: 12px;
  line-height: 1.6;
}
.copy-s a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-s {
    font-size: 14px;
  }
}

.copy-s-bold {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
}
.copy-s-bold a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-s-bold {
    font-size: 14px;
  }
}

.copy-xs {
  font-size: 10px;
  line-height: 1.8;
}
.copy-xs a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-xs {
    font-size: 12px;
    line-height: 1.65;
  }
}

.copy-xs-bold {
  font-size: 10px;
  line-height: 1.8;
  font-weight: 500;
}
.copy-xs-bold a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-xs-bold {
    font-size: 12px;
    line-height: 1.65;
  }
}

.label-l {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 47.5em) {
  .label-l {
    font-size: 18px;
  }
}

.label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
}
@media (min-width: 47.5em) {
  .label {
    font-size: 16px;
  }
}

.label-s {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
}
@media (min-width: 47.5em) {
  .label-s {
    font-size: 14px;
  }
}

.caption {
  letter-spacing: 0.05em;
  font-size: 12px;
}
@media (min-width: 47.5em) {
  .caption {
    font-size: 14px;
  }
}

.caption-s {
  letter-spacing: 0.05em;
  font-size: 10px;
}
@media (min-width: 47.5em) {
  .caption-s {
    font-size: 12px;
  }
}

.overline {
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.65;
}

.copy-link {
  display: inline-block;
  color: #C4132F;
  border-bottom: 1px solid currentColor;
  font-size: 14px;
  line-height: 1.6;
}
.copy-link a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-link {
    font-size: 1rem;
    line-height: 1.8;
  }
}

.copy-link-s {
  display: inline-block;
  color: #C4132F;
  border-bottom: 1px solid currentColor;
  font-size: 12px;
  line-height: 1.6;
}
.copy-link-s a {
  text-decoration: underline;
}
@media (min-width: 47.5em) {
  .copy-link-s {
    font-size: 14px;
  }
}

.button {
  display: inline-block;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  transition: 100ms cubic-bezier(0.42, 0, 0.58, 1);
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
.button > .preloader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
  right: 20px;
}
.button--style--primary {
  background-color: #C4132F;
  border: 1px solid transparent;
  color: #ffffff;
}
.no-touch .button--style--primary:hover {
  background-color: #960e24;
}
.no-touch .button--style--primary:active {
  background-color: #670a19;
}
.button--style--primary.disabled, .button--style--primary[disabled] {
  background-color: #F9F9F9;
  border-color: #F9F9F9;
  color: #E6E6E6;
  pointer-events: none;
}
.button--style--primary-white {
  background-color: #ffffff;
  border: 1px solid transparent;
  color: #C4132F;
}
.no-touch .button--style--primary-white:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.no-touch .button--style--primary-white:active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #670a19;
}
.button--style--primary-white.disabled, .button--style--primary-white[disabled] {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent;
  color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.button--style--link, .button--style--link-white {
  padding: 0 !important;
}
.no-touch .button--style--link:hover .button__label, .no-touch .button--style--link:active .button__label, .no-touch .button--style--link-white:hover .button__label, .no-touch .button--style--link-white:active .button__label {
  border-color: currentColor;
}
.button--style--link.disabled, .button--style--link[disabled], .button--style--link-white.disabled, .button--style--link-white[disabled] {
  color: #999999;
  pointer-events: none;
}
.button--style--link .button__label, .button--style--link-white .button__label {
  border-bottom: 1px solid transparent;
  transition: border 100ms cubic-bezier(0.42, 0, 0.58, 1);
}
.button--style--link {
  color: #C4132F;
}
.no-touch .button--style--link:hover {
  color: #960e24;
}
.no-touch .button--style--link:active {
  color: #670a19;
}
.button--style--link-white {
  color: #ffffff;
}
.no-touch .button--style--link-white:active {
  color: #B3B3B3;
}
.button--size--default {
  font-size: 16px;
  line-height: 1;
  padding: 1.5rem 4rem;
}
.button--size--default.has-preloader {
  padding-right: 48px;
}
.button--size--default.button--icon-only {
  padding: 12px;
}
.button--size--default.button--icon-only .button__icon {
  font-size: 24px;
}
.button--size--small {
  font-size: 14px;
  line-height: 1;
  padding: 9px 1rem;
}
.button--size--small.button--icon-only {
  padding: 12px;
}
.button--size--small.button--icon-only .button__icon {
  font-size: 16px;
}
.button--size--large {
  font-size: 16px;
  line-height: 1;
  padding: calc(1rem - 1px) 2rem;
}
.button--size--large.button--icon-only {
  padding: 1rem;
}
.button--size--large.button--icon-only .button__icon {
  font-size: 24px;
}
.button--size--xlarge {
  font-size: 18px;
  line-height: 1;
  padding: 19px 2rem;
}
.button--size--xlarge.button--icon-only {
  padding: 20px;
}
.button--size--xlarge.button--icon-only .button__icon {
  font-size: 24px;
}
.button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__icon {
  margin-right: 1rem;
  font-size: 24px;
}
.button__icon:only-child {
  margin: 0 !important;
}
.button__icon--right {
  order: 2;
  margin-right: 0;
  margin-left: 1rem;
}
.button__icon--secondary {
  margin-right: 1rem;
  margin-left: calc(-1.5rem / 2);
}
.button__icon--secondary--right {
  order: 3;
  margin-right: calc(-1.5rem / 2);
  margin-left: 1rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
@media (min-width: 47.5em) {
  .container {
    padding: 0 80px;
    max-width: 1600px;
  }
  .container--small {
    max-width: 840px;
  }
  .container--medium {
    max-width: 1180px;
  }
  .container--default {
    max-width: 1520px;
  }
  .container--width {
    max-width: 1880px;
  }
  .container--hd {
    max-width: 2000px;
  }
  .container--full {
    max-width: none;
  }
}
@media (max-width: 47.49em) {
  .container--no-padding-until-tablet {
    padding: 0;
  }
}
.container__indent {
  margin: 0 auto;
}
@media (min-width: 47.5em) {
  .container__indent {
    width: 75%;
  }
}
@media (min-width: 61.25em) {
  .container__indent {
    width: 83.3333333333%;
  }
}
@media (min-width: 90em) {
  .container__indent--no-indent-notebook {
    width: 100%;
  }
}
@media (min-width: 47.5em) {
  .container__indent--small {
    width: 50%;
  }
}

.icon {
  display: inline-block;
}
.icon svg {
  width: 1em;
  height: 1em;
  display: block;
  fill: #fff;
}
.icon path {
  fill: #fff !important;
}
.icon img {
  height: 1em;
  width: auto;
  display: block;
}

.overlay {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 120;
}
@media (min-width: 47.5em) {
  .overlay {
    padding: 80px;
  }
}
.overlay > .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
}
.overlay__content {
  animation: showOverlayContent 0.4s forwards;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: relative;
}
.overlay__content--default {
  max-width: 900px;
}
.overlay__content--full-hd {
  max-width: 1920px;
}
.overlay__content--transparent {
  box-shadow: none;
  background-color: transparent;
}
.overlay__content--cookie-settings {
  max-width: 640px;
}
.overlay__content--cookie-settings-large {
  max-width: 1424px;
}
.is-removed .overlay__content {
  animation: hideOverlayContent 0.4s forwards;
}
.overlay__content:focus {
  outline: none;
}
.overlay__close {
  transition: color 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}
.no-touch .overlay__close:hover {
  color: #C4132F;
}
.overlay__close svg {
  pointer-events: none;
}

@keyframes showOverlayContent {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes hideOverlayContent {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}
.page::after {
  content: "";
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity, visibility, z-index;
  transition-delay: 0s, 0s, 0.5s;
  transition-duration: 0.5s, 0.5s, 0.01s;
  pointer-events: none;
}
.is-dimmed .page::after {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.is-locked .page {
  position: fixed;
  left: 0;
  width: 100%;
}

.preloader {
  color: #C4132F;
  font-size: 14px;
}
.preloader--white {
  color: #fff;
}
.preloader--black {
  color: #181818;
}
.preloader--big {
  font-size: 24px;
}
.preloader__box {
  width: 1em;
  height: 1em;
  animation: clockwise 500ms linear infinite;
}
.preloader__cut {
  position: relative;
  width: 0.5em;
  height: 1em;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.preloader__donut {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}
.teaser {
  position: relative;
  padding: 35px 27px;
}
.teaser:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E5EAEE;
}

 
.teaser--style--black {
  color: #ffffff;
}
.teaser--style--black:before {
  background: #181818;
}
.teaser > * {
  position: relative;
  z-index: 1;
}
.teaser__illustration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.teaser__uptitle {
  margin-bottom: 1.5rem;
}
.teaser__headline, .teaser__subtitle {
  margin-bottom: 0.6rem;
}
.teaser-content .h5{
	color: #c4132f;   
	margin-bottom: 0.8rem;}


.hero {
  overflow: hidden;
}

@media (min-width: 47.5em) {
  .hero__main {
    padding: 120px 0;
  }
}
.hero__visual {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero__visual__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.hero__inner {
  position: relative;
}
.hero__inner__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 8px;
  text-align: left;
}
@media (min-width: 47.5em) {
  .hero__inner__content {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (min-width: 61.25em) {
  .hero__inner__content {
    grid-template-columns: repeat(12, minmax(0, 1fr));
	text-align: left;
  }
}
.hero__headline {
  grid-column: 1/span 7;
}
@media (min-width: 61.25em) {
  .hero__headline {
    grid-column: 1/span 6;
  }
}
.hero__text {
  grid-column: 1/span 6;
}
@media (min-width: 61.25em) {
  .hero__text {
    grid-column: 1/span 4;
  }
}
.hero__teasers {
  margin: 0 -80px;
}
@media (min-width: 47.5em) {
  .hero__teasers {
    margin: 0 -80px;
  }
}
@media (min-width: 61.25em) {
  .hero__teasers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 61.25em) {
  .hero__teasers .teaser {
    padding-top: 286px;
    margin-top: -120px;
	text-align: left;
  }
}
.hero__teasers .teaser:first-child:before {
    left: -30vw;
    color: #181818 !important;
}
.hero__teasers .teaser:nth-child(2):before {
	background-color: #181818;
}
.hero__teasers .teaser:first-child{
	.teaser__headline, .teaser__subtitle, .copy{
		color: #181818 !important;
	  }
}
.hero__teasers .teaser:last-child {
  grid-column: span 2;
  .teaser__headline, .teaser__subtitle, .copy{
	color: #181818 !important;
  }
  .h3{
	color: #c4132f!important;
  }
}

.navigation {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  border-bottom: 1px solid #ffffff;
  transition: background 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding: 0px 0;
}
@media (max-width: 61.24em) {
  .navigation.is-mobile-navigation-open {
    position: fixed;
    background: #181818;
  }
}
.navigation__inner {
  --navigation-height: 70px;
  display: flex;
  align-items: center;
  height: var(--navigation-height, 80px);
  gap: 1.5rem;
}
@media (min-width: 61.25em) {
  .navigation__inner {
    --navigation-height: 95px;
    margin-right: -80px;
  }
}
.navigation__logo {
  height: 45px;
}
@media (min-width: 61.25em) {
  .navigation__logo {
    height: 45px;
  }
}
.navigation__logo__image {
  height: 100%;
}
.navigation__main {
  display: flex;
  margin-left: auto;
  height: 100%;
}
@media (max-width: 61.24em) {
  .navigation__main {
    position: fixed;
    left: 0;
    top: var(--navigation-height);
    width: 100vw;
    height: calc(calc(var(--vh, 1vh) * 100) - var(--navigation-height));
    background: #C4132F;
    transform: translateX(100%);
    flex-direction: column;
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .is-mobile-navigation-open .navigation__main {
    transform: none;
  }
}
.navigation__links {
  list-style-type: none;
  padding: 0;
  margin: 0 2.5rem 0 0;
  display: flex;
  align-items: center;
  gap: 52px;
}
@media (max-width: 61.24em) {
  .navigation__links {
    flex-direction: column;
    padding: 4rem 1rem;
    margin: 0;
  }
}
.navigation__links__item {
  opacity: 0.5;
  transition: 100ms cubic-bezier(0.42, 0, 0.58, 1);
}
@media (max-width: 61.24em) {
  .navigation__links__item {
    opacity: 1;
  }
}
.no-touch .navigation__links__item:hover {
  opacity: 1;
}

.navigation__button{
	display: block !important;
	color: #fff;
    background: #C4132F;
	padding: 25px;    
    align-items: center;

}

.navigation__button .label {
    padding: 10px;
    margin: 10px;
}‚

.navigation__button .icon{
	padding: 5px 0px 0;
}

@media (max-width: 61.24em) {
  .navigation__button {
    width: 100%;
    margin-top: auto;
  }
}
@media (min-width: 61.25em) {
  .navigation__button {
    display: inline-flex;
    height: 100%;
  }
}
.navigation__mobile-toggle {
  position: relative;
  background: #C4132F;
  height: var(--navigation-height, 80px);
  width: var(--navigation-height, 80px);
  margin-left: auto;
  margin-right: -20px;
  cursor: pointer;
}
@media (min-width: 47.5em) {
  .navigation__mobile-toggle {
    margin-right: -80px;
  }
}
@media (min-width: 61.25em) {
  .navigation__mobile-toggle {
    display: none;
  }
}
.navigation__mobile-toggle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  display: block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navigation__mobile-toggle span:first-child {
  margin-top: -8px;
}
.is-mobile-navigation-open .navigation__mobile-toggle span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
  margin: 0;
}
.is-mobile-navigation-open .navigation__mobile-toggle span:nth-child(2) {
  opacity: 0;
}
.navigation__mobile-toggle span:last-child {
  margin-top: 8px;
}
.is-mobile-navigation-open .navigation__mobile-toggle span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
  margin: 0;
}

.text-content {
  margin: 100px 0;
}
@media (min-width: 47.5em) {
  .text-content {
    margin: 120px 0;
  }
}
@media (min-width: 73.75em) {
  .text-content {
    margin: 180px 0;
  }
}
.text-content__inner {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 8px;
}
@media (min-width: 47.5em) {
  .text-content__inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (min-width: 61.25em) {
  .text-content__inner {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
.text-content__top {
  grid-column: 1/ span 3 !important;
}
@media (min-width: 47.5em) {
  .text-content__top {
    grid-column: 1/span 3;
  }
}
@media (min-width: 61.25em) {
  .text-content__top {
    grid-column: 1/span 4;
  }
}
.text-content__headline {
  margin-bottom: 1rem;
}
.text-content__text {
  grid-column: 1/-1;
  margin-top: 1rem;
}
@media (min-width: 47.5em) {
  .text-content__text {
    grid-column: 5/span 4;
    margin-top: 0;
  }
}
@media (min-width: 61.25em) {
  .text-content__text {
    grid-column: 5/span 8;
    column-count: 2;
    column-gap: 2.5rem;
  }
}
@media (min-width: 73.75em) {
  .text-content__text {
    column-gap: 4rem;
  }
}

.visual {
  background: linear-gradient(0deg, #181818 50%, rgba(0, 0, 0, 0) 50%);
}
.visual__inner {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 8px;
}
@media (min-width: 47.5em) {
  .visual__inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (min-width: 61.25em) {
  .visual__inner {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
.visual__visual {
  grid-column: 2/span 3;
  aspect-ratio: 1/1;
  margin-right: -20px;
  line-height: 0;
}
@media (min-width: 47.5em) {
  .visual__visual {
    margin-right: -80px;
    grid-column: 3/span 10;
    aspect-ratio: 820/410;
  }
}
.visual__visual__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}


/*Page css*/
	
.navigation__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.navigation__links li { 
	list-style: none; 
	margin-left: 1rem; }
.navigation__links li a { 
	text-decoration: none; 
	color: #fff; font-size: 1.1rem; 
	padding: 0.7rem 0.6rem;
	border-radius: 6px;
	transition: all 0.4s ease-in;
}
.navigation__links li a:hover { 
	color: #fff !important;
	opacity: 1 !important;
}
a.navigation__button .icon {
    padding: 5px 0 0 !important;
}

.hero {
	position: relative;
	width: 100%;
	background-image: url('/assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white; 
    text-align: center;
    padding-top: 100px; 
}

.hero:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 6.22%, rgba(255, 255, 255, 0) 51.23%);
  }

.hero__main {
	position: relative;
	z-index: 2;
	min-height: 80vh;
	padding: 80px 0;
	display: flex;
	align-items: center;
}

.visual {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 50%);
}

.visual__inner {
    display: grid;
}

.visual__visual {
    grid-column: 2 / span 3;
    aspect-ratio: 1 / 1;
    margin-right: -20px;
    line-height: 0;
}
@media (min-width: 47.5em) {
	.visual__visual {
        margin-right: -80px;
        grid-column: 6 / span 10;
        aspect-ratio: 820 / 410;
    }
  }

.visual__visual__image {
    object-fit: cover;
}
#teaser__path{
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 30%, 0 0);
}

.icon {
	display: inline-block; }
.icon svg {
		width: 1em;
		height: 1em;
		display: block;
		fill: currentColor;
}
.icon path {
		fill: currentColor;
}
.icon img {
		height: 1em;
		width: auto;
		display: block;
}

ul.crew_navigation {
    list-style-type: none;
    display: inline-flex;
}
ul.crew_navigation li {
    margin: 20px;
}
#crewContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#crewContainer div {
    height: 287px;
    box-sizing: border-box;
}
#crew {
    background-color: black;
    padding: 100px 0 200px 0;
}
#crew .text-content__inner {
    padding: 100px 0;
    color: #fff;
}
#crew h1.text-content__top__headline {
    font-size: 400%;
}
#crew .text-content__subtitle {
    font-size: 150%;
}
.image-container {
    position: relative;
    width: 288px;
    overflow: hidden;
}

.details-container {
    display: none;
    padding-left: 10px;
}

.crew-member:hover .details-container {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
}
button#loadMoreButton {
    background-color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 60px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
}
#crew .text-content__top {
	grid-column: 1/span 6 !important;
  }
  @media (min-width: 47.5em) {
	.text-content__top {
	  grid-column: 1/span 3;
	}
  }
  @media (min-width: 61.25em) {
	.text-content__top {
		grid-column: 1/span 6;
	}
  }
  #crew .text-content__navigation {
    display: flex;
    margin-left: auto;
}
  .text-content__navigation {
	grid-column: 7/span 6;
	margin-top: 1rem;
  }
  @media (min-width: 47.5em) {
	.text-content__navigation {
	  grid-column: 5/span 4;
	  margin-top: 0;
	}
  }
  @media (min-width: 61.25em) {
	.text-content__navigation {
	  grid-column: 7/span 6;
	  column-count: 2;
	  column-gap: 2.5rem;
	}
  }
  @media (min-width: 73.75em) {
	.text-content__navigation {
	  column-gap: 4rem;
	}
  }
footer {
    background: #000;
    max-width: 1600px;
}
footer .text-content__top {
    /* margin-top: 50px; */
    padding: 0 80px;
}
img.footer__logo__image {
    height: 90px;
	margin-top: 50px;
}
@media (min-width: 61.25em) {
	.navigation__logo {
	  height: 45px;
	}
}

@media only screen and (max-width: 600px) {
  #teaser__path{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 50% 0%, 0 0);
  }
  #crew {
    padding: 20px 0 100px 0;
  }
  #crew .text-content__inner {
    display: block;
  }
  ul.crew_navigation {
    display: contents;
  }
  ul.crew_navigation li {
    margin: 10px;
    font-size: 14px;
  }
  #crew .text-content__inner {
    padding: 50px 0;
  }
  #crewContainer div {
    height: 100%;
  }
  .crew-member-container img {
    width: 100% !important;
  }
  button#loadMoreButton {
    background-color: white;
    padding: 10px 20px;
  }
  .footer__container .text-content__inner {
      display: block !important;
  }
  img.footer__logo__image {
    height: 40px;
  }
  .footer__nav {
    padding: 30px 20px !important;
  }
}

.footer__nav{
	background-color: #c4122f;
	padding: 50px 70px;
	display: flex;
    flex-direction: column;
}
ul.footer__ul, .footer__ul__one {
    list-style-type: none;
    display: inline-block;
}
.footer__ul li, .footer__ul__one li {
    margin: 20px;
}
.footer__ul li a, .footer__ul__one li {
    text-decoration: none;
    color: #fff;
}

.nav__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__ul,
.footer__ul__one {
    flex: 1; 
    margin: 0; 
    padding: 0; 
}
.footer__social {
    margin-top: 20px;
}
.footer__social ul {
    display: flex;
    padding: 0;
	list-style-type: none;
}
.footer__social ul li{
	margin: 20px;
}
.crew-member-container {
	position: relative;
	display: inline-block;
}

.crew-member-container img {
	display: block;
	width: 100%;
	height: auto;
}

.details-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5); 
	opacity: 0;
	transition: opacity 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
}

.crew-member-container:hover .details-container {
	opacity: 1;
}



